<h1>Listing Producers</h1>

<table>

<% @producers.each do |producer| %>
	<tr>
		<td><%= link_to 'Show', producer %></td>
		<td><%= link_to 'Edit', edit_producer_path(producer) %></td>
		<td><%= link_to 'Destroy', producer, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %>

</table>

<br />

<%= link_to 'New Producer', new_producer_path %>
