<tr id="<%= dom_id(category)%>">
  <td><%= link_to category.name, category %></td>
  <td>
    <%= link_to raw('<i class="icon-edit"></i> Editieren'),
      edit_category_path(category),
      class: 'btn btn-mini'
    %>
    <%= link_to raw('<i class="icon-trash"></i> Löschen'),
      category,
      method: :delete,
      remote: true,
      class: 'btn btn-mini btn-danger'
    %>
  </td>
</tr>
