<legend>Categories</legend>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %></td>
        <td>
          <%= link_to raw('<i class="icon-edit icon-white"></i>'), edit_category_path(category), class: 'btn btn-mini' %>
          <%= link_to raw('<i class="icon-trash icon-white"></i>'), category_path(category), class: 'btn btn-mini btn-danger', method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

