<div class="container">
  <legend>Categories</legend>

  <div class="row">
    <div class="span4">
      <form class="well form-inline" action="/categories" data-remote="true" id="new_category", method="post">
        <fieldset class="control-group">
          <input type="text" name="category[name]" id="category_name" placeholder="Neue Kategorie">
          <button type="submit" class="btn btn-success"><i class="icon-plus-sign"></i> Erstellen</button>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <table class="table table-bordered" id="categories">
        <tbody>
          <%= render @categories %>
        </tbody>
      </table>
    </div>
  </div>
</div>
